body{
    font-family: 'Montserrat', sans-serif;
}
/*header*/

header{
    background: #c0c0c0;
    padding: 20px 0;

}
.header-wrap{
    width:940px;
    margin: 0 auto;
    position: relative;
}

.nav-links{
    position: absolute;
    top:110px;
    right:0px;

}

.nav-links li{
    display:inline;
    margin:0 0 0 15px;
}

.nav-links a{
    text-decoration:none;
    text-transform: uppercase;
    font-weight:bold;
    font-size:22px;
    color: #222222;
    transition: 0.5s all ;
}

.nav-links a:hover{
    color:#FFFFFF;
    text-decoration: underline;
}

/* products cards */
.products{
    width:940px;
    margin:0 auto;
    padding: 50px 0;
}

.products li{ /*main*/
    display: inline-block;
    text-align:center;
    width:30%;
    vertical-align: top;

    margin:0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

    border: 2px solid #000000;
    border-radius: 10px;
}

.products li:hover{
    border-color:#c78c19;
}

.products li:active{
    border-color:#088c19;
}

.products li:hover h2{
    font-size:35px;
}

.products h2{
    font-size: 30px;
    font-weight: bold;
}
.product-descrip{
    font-size: 19px;
}

.product-price{
     font-size:22px;
     font-weight: bold;
     margin-top:10px;
 }

 /*footer*/
 footer{
    background: url("static/bg.jpg");
    text-align: center;
    padding: 40px;
 }

 .copyright{
    color:#FFFFFF;
    font-size:13px;
    margin-top:20px;
 }

 @media screen and (max-width:500px){
    .header-wrap, .products{
        width:auto;
    }

    .header-wrap h1{
        text-align: center;
    }
    .nav-links{
        position: static;
    }
    .nav-links a{
        font-size: 16px;
    }

    .products li{
        display: block;
        width:80%;
        margin:0em auto 2em;

    }
    .products img{
        width:70%
    }
 }