body{
    font-family: 'Montserrat', sans-serif; 
}

/* header */
header{
    background: #bbbbbb;
    padding:20px;
}

.header-wrap{
    width:940px;
    margin: 0 auto;
    position: relative;
}

.nav-links{
    position: absolute;
    top:110px;
    right:0px;
}

.nav-links li{
    display:inline;
    margin:0 0 0 15px;
}

.nav-links a{
    text-decoration:none;
    text-transform: uppercase;
    font-weight:bold;
    font-size:22px;
    color: #000000;
    transition: 0.5s all ;
}

.nav-links a:hover{
    color:#ffffff;
    text-decoration: underline;
}

/*CSS contato.html*/

/*form*/

.main-form{
   padding: 40px 0; 
}

.form-wrap{
    width:940px;
    margin: 0 auto;
    
}

.form-wrap label, .form-wrap legend{
    display: block;
    font-size:20px;
    padding:5px 0px;
    
}

.form-input, form textarea{   
    display: block; 
    width: 50%;
    
    padding:10px 25px;
    margin:0 0 20px 0;

    font-size:18px;
    font-family: sans-serif;
    
} 

.form-contact{
    margin-bottom:10px;
}

.form-contact label{
    
    padding:5px;
}

.form-contact input{
    margin-right:10px;
}

#horarios{
    font-size: 16px;
    margin-top:5px;
}

.checkbox{
    margin:15px 0px;
}

.form-button{
    display: block;
    width: 40%;
    

    padding: 15px 5px;
    margin: 10px 0px;
    
    font-size: 18px;
    font-weight: bold;

    border:none;
    color: white;
    background:orange;
    cursor: pointer;
    border-radius: 5px;

    transition:all 1s;
}

.form-button:hover{
    background:darkorange;
    transform: scale(1.02) ;
    
}

.days-table{
    margin: 20px 0px;
}

thead{
    background: #6f6e6e;
    font-weight: bold;
    color: #ffffff
}

.days-table tr:nth-child(even){
    background: #bfbebe;
}

.days-table td,th{
    border: 1px solid black;
    padding:8px 15px;
}



/* footer */

footer{
    background: url("static/bg.jpg");
    text-align: center;
    padding:40px;
}

footer p{
    font-size:13px;
    color:#ffffffff;
    margin-top: 20px;
}

/*Index.html CSS*/

.image-wrap{
    background:#fefefe;/* pequeno truque para resolver o espaço entre a tag 'img' e a tag 'main' da página - ponha em 0000ff pra ver*/
}
.image-banner{
    width:100%;
    margin: 0 0 0em;
}

.main-title{
    text-align: center;
    font-size: 2em;
    margin: 0em 0 1em;
    clear:left; 
    
}

/*
.main-title:first-letter{
    font-weight:bold;
}

.main-title:before{
    content:"[ ";
}

.main-title:after{
    content:" ]";
}*/

.about-wrap{
    background:#fefefe;/*fefefe*/ 
}

.about-content{
    width:940px;
    padding:3em 0;
    margin:0 auto;
}

.about-wrap p{
    margin:0 0 1em;
}

.ultensilio{
    width:120px;
    float:left;
    margin: 0 20px 20px 0;
}

.about-wrap strong{
    font-weight: bold;
}

.about-wrap em{
    font-style: italic;
}

.map{
    padding: 3em 0;
    text-align: center;
    background:linear-gradient(#fefefe,#888888);
    
}

.map p{
    margin: 0 0 2em;
    
}
.map-content{
    width: 940px;
    margin: 0 auto;
}

.map iframe {
    width: 100%;
    height: 300px;
}


.benefits-wrap{
    padding: 3em 0;
    background: #888888;
}

.benefits-content{
    width:640px;
    margin:0 auto;
}
.benefits-list{
    width:40%;
    display: inline-block;
    vertical-align: top;
}
.item{
    line-height: 1.5;
}

.item:nth-child(1){
    font-weight: bold;
}

.item:before{
    content:"\2605";
}

.benefits-image{
    width:60%;
    opacity: 1;
    transition:opacity 400ms;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
}

.benefits-image:hover{
    opacity: 0.3;
}

.video{
    margin: 2em auto;
    width:560px;
}


/*
/*advaced selectors
main > p{ /*selecione todas as tags P que são filhas diretas de main
    color:red;
}

img ~ p{ /*selecione todas as tags p que vem depois de img que nõa são filhas de ninguem 
    color:blue;
}

img+p{/*selecione o primeiro p que vem depois de img 
    color:green;
}

.about-wrap p:not(#mission) {
    color: purple;
}*/

@media screen and (max-width: 480px){
    .header-wrap, .about-content, .map-content,.video, .benefits-content{
        width:auto;
    }

    .video-iframe{
        width:100%;
    }

    .header-wrap h1{
        text-align: center;
    }
    .nav-links{
        position: static;
    }
    .nav-links a{
        font-size: 16px;
    }

    .about-wrap p {
        margin: 0 1em 1em;
    }
    .benefits-list, .benefits-image{
        width:100%;
    }
}