body{   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3em;
    margin-right: 3em;
}

.principal{
    color:#353737;
    background:#bcbec7;
    font-weight: bold;
    padding:1em;
    border-radius: 5px;
    padding: 20px;
}

#banner{
    width: 100%;
    height: 285px;
    border-radius: 5px;
}
.title-main{
    padding-left:20px;
}
.title-center{
    text-align: center;
}

p{
    text-align: justify; 
}

#duty{
    font-size: 20px;
    color:#353737;
}
em strong{
    color: #353737
}

.benefits{
    background: white;
    color:#353737;
    padding: 20px;
    padding: 20px 0px 20px 0px;
}


ul{
    display:inline-block;
    vertical-align: top;
    width: 44%;
    margin-right:3px;
}

.item{
    font-weight: bold;
    font-style: italic;
    text-align: justify;
}

#benefits-image{
    width: 50%;
    height: 334px;
    border-radius: 5px;
    margin-left: 19px;
}